{% extends './base.html' %}
{% block content %}
<br>
    <div class="check">
        <div class="alert alert-success hidden" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <span class="glyphicon glyphicon-ok"></span> &#10004 New User added
        </div>
    </div>

    <div class="container">
      <table class="table table-border table-bordered text-center shadow">
        <p align="right">
            <a href="/catalystcount/Adduser"><input style="margin-right: 16px" class="btn btn-primary" type="button" value="Add User"></a>
          </p>
        <h5>Users</h5>  
        <tr>
            <th>User Name</th>
            <th>Email Id</th>
            <th>Active</th>
        </tr>
        {% for i in users %}
        <tr>
          <td>{{i.user_name}}</td>
          <td>{{i.email_id}}</td>
          <td>{{i.active}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <script type="text/javascript">
        let pos = 0;
        function moveBox() {
        if (pos < 300) {
            pos++;
            $(document).ready(function() {
                $("#btn").click(function() {
                    $('#success-alert').removeClass('hidden');
                });
        });
    }
}
</script>
{% endblock %}